/*This css used for home,order,cart pages*/
*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: cursive;
    
}
body{
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
nav{
    flex: 1;
    text-align:right ;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a:hover{
	color:white;
    background-color:#333;
	border-radius:5px;
	 padding: 5px 10px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
    font-family: cursive;
    
}
.img{
  	border: 1px solid transparent;
    padding: 1px 1px 4px 1px;
    border-radius:5px;
}
img.img:hover {
    background: white;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
a.pro {
    padding: 68px 50px 20px 50px;
    font-family: monospace;
    font-weight: bold;
        color: black;
    }
    a.pro:hover{
    color:white;
      }
.sell-pro {
	    background: antiquewhite;
    border-radius: 20px;
        padding-bottom: 10px;
    
}
.sell-pro:hover {
	    background: grey;
	    color:white;
    border-radius: 20px;
}
.row-pro{
	
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 35px;
}
/*-------------search button----------*/
.search-bar{
        width: 100%;
        max-width: 600px;
        display: flex;
        border-radius: 50px;
        backdrop-filter: blur(4px) saturate(180);
        margin-left: 5em;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;

}
.search-bar input{
	text-align: start;
    background: transparent;
    outline: none;
    padding: 5px 25px;
    font-size: 20px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}
.search-bar2{
    width: 100%;
    max-width: 600px;
    display: flex;
    border-radius: 50px;
    backdrop-filter: blur(4px) saturate(180);
    margin-left: 5em;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;

}
.search-bar2 input{
background: transparent;
outline: none;
padding: 5px 25px;
font-size: 15px;
width: 100%;
border: none;
display: flex;
justify-content: space-between;
border-radius: 50px;
}
::placeholder{
    color: rgba(19, 18, 19, 0.278);
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    padding: 0.5em 2em;
    justify-content: space-between;
}
.search-bar button .fa{
    color: #000;
}
.search-bar2 button{
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    padding: 0.5em 2em;
    justify-content: space-between;
}
.search-bar2 button .fa{
    color: #000;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: cursive;
}
.btn{
    display: inline-block;
    background: #b3200d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn1{
    display: inline-block;
    background: #b3200d;
    color: #fff;
    padding: 9px 25px;
    margin: 27px 6px;
    border-radius: 10px;
    transition: background 0.5s;
}
.fa-plus-square:before, .fa-minus-square:before {
    content: "\f0fe";
    padding: 10px 10px;
    margin: 10px;
    font-size: 21px;
}
.btn:hover{
    background: #563434;
}
.listPage{
	padding:10px;
	text-align:center;
	list-style:none;
}
.listPage li{
	background-color: #fff;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border: 3px solid #b3200d;
    border-radius: 5px;
    border-right-width: thick;
}
.listPage .active{
    background-color: #b3200d;
    color: #fff;;
}
.listPage li:hover{
    background: #b3200d;
    color: #fff;
}
.header{
    background: radial-gradient(#fff,#f5917b);
}
.header row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1312px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5%;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    height: 468px;
    object-fit: cover;
    cursor: pointer;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #b3200d;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: #221f1f;
    font-weight: bold;
    font-family: math;
}
h6.category {
    font-family: monospace;
    font-size: 11px;
    color: grey;
}
i.fa.fa-star.checked{
    color: #b3200d;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#f5917b);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: aliceblue;
}

/*-------testimonial------*/
.testimonial{
    padding: 100px;
}
.testimonial .col-3{    
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;   
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.quote{
    font-size: 34px;
    color: #b3200d;
}
.col-2 p{
    font-size: 15px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size:16px;
}
/*------------Brands-------------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*-------------footer-----------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    text-align: start;
    font-style: italic;
    font-family: monospace;
    }
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 20px;
    margin-left: 20px;
    display: none;
}
.search-bar2{
    display: none;
}
/*--Start-//--message---*/
.text-center {
  background: transparent;
  border:1px solid;
    border-radius: 5px;
}
p.text-center.text-danger {
    color: #b61b1b;
    background: gainsboro;
}
p.text-center.text-safer {
    color: #008040;
    background: gainsboro;
}
a{
    text-decoration: none;
}
/*--End-//-message---*/
/*---------media query for menu----------*/
 @media only screen and (max-width: 800px){
    nav ul{
                position: absolute;
        top: 70px;
        right: 0;
        background: #333;
        width: fit-content;
        overflow: hidden;
        text-align: start;
        list-style: none;
        list-style: none;
        padding-left: 1em;
        transition: max-height 0.5;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    nav a:hover{
	color:white;
    background-color:#333;
	border-radius:5px;
	 padding: 5px 10px;
	     overflow: hidden;
}
    .menu-icon{
        display: block;
        cursor: pointer;
    }
 }
/*------------------All products page------------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #b1aaa9;
    padding: 5px;
    border-radius: 8px;
    background: lightgrey;
}
select:focus{
    outline: none;
}
.page-btn{
    margin:0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #b3200d;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #b3200d;
    color: #fff;
}
/*--------------------single product details------------------------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #b3200d;
    border-radius: 5px;
}
input:focus{
    outline: none ;
}
.single-product .fa{
    color: #b3200d;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*-----------------------------cart items------------------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #b3200d;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #b3200d;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    border: 3px solid #b3200d;    
    justify-content: flex-end;
}
.total-price table{
    border: 3px solid #b3200d;
    width: 100%;
    max-width: 400px;
}
.pay {
        margin-right: auto;
        padding-right: 360px;
        text-align: end;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
        margin-top: -2em;
    
}
/*--------------------order---------------------------*/
.small-container-order{
    max-width: 1129px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0%;
    border-radius: 26px;
    border-style: ridge;
    
}
.row-2-order{
    justify-content: space-between;
    margin: 45px auto -41px;
    margin-left: 25px;
    margin-right: 24px;
}
th1{
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #b3200d;
    font-weight: normal;
}
td1{
    padding: 0px 1px;
    background-color: whitesmoke;
    border-bottom-style: outset;
}

 /*---------media query for menu less than 600 screen size----------*/
 @media only screen and (max-width: 600px){
    
    .row{
        text-align: center;
    }
    .row1{
    text-align: center;
    flex-basis: 100%;
    font-size: 10px;
    margin-left: -23px;
    }
    td {
    font-size: 6px;
    }
    a.btn1 {
   margin: inherit;
    font-size: 8px;
    block-size: 18px;
    padding: 2px 6px;
    border-radius: 6PX;
}
.small-container {
    max-width: 1096px;
    margin: auto;
    padding-left: 21px;
    padding-right: 3px;
    /* padding-bottom: 45%; */
    /* block-size: 100000px; */
}
button.btn1.btn-primary.btn-sm {
    border-block-width: revert;
    border-radius: 4px;
    width: 30px;
    padding: 0px 2px;
    margin: 4px;
    border: none;
    font-size: 10px;
}
input.form-control {
        width: 23px;
    font-size: 7px;
    flex-basis: auto;
    padding: 1px 5px;
    margin: 4px;
    block-size: 18px;
}
.fa-plus-square:before, .fa-minus-square:before {
        padding: 1px 1px;
    font-size: 12px;
    margin: 1px;
}
h3 {
    display: block;
    font-size: 13px;
    margin-block-start: 12em;
    margin-block-end: -2em;
    margin-inline-start: 0px;
    margin-inline-end: 136px;
    font-weight: bold;
}
a.btn.btn-primary {
    /* block-size: 39px; */
    padding: 8px 110px;
    margin-top: 45px;
}
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding:20px;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    
    .cart-info p{
        display: none;
    }
    .pay{
        text-align: center;
        padding-right:2px;
    }
    .search-bar{
        display:none;
    }
    .search-bar2{
        display: flex;
        width: 60%;
    }
    .responsive_search_container{
        margin: 0 !important;
    }
 }